<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src=../assets/js/index.js></script>
  <link rel="stylesheet" href="../assets/css/index.css"/>
</head>
<body>
  <script>
        $('#password, #confirm-password').on('keyup',function () {
          if ($('#password').val() == $('#confirm-password').val()) {
            $('#message').html('Matching').css('color', 'green');
          } else
            $('#message').html('Not Matching').css('color', 'red');
        });
  </script>

  <div class="container">
	  <br />
	  <br />
	  <br />
	  <br />
	  <div class="row">
		  <div class="col-md-6 col-md-offset-3">
			  <div class="panel panel-login">
				  <div class="panel-body">
					  <div class="col-md-8 col-md-offset-3">
						  <h2 class="panel-head" >Reset Password</h2>
						  <br>
					  </div>

					  <div class="row">
						  <div class="col-md-12">
						  ``	<form id="register-form" method="post" action="/set_pass" role="form">
								  <div class="form-group">
									  <input type="text" name="email" value="<%=email%>" style="display:none">
									  <input type="text" name="type" value="<%=type%>" style="display:none">
								  </div>
								  <div class="form-group">
										<input type="password" name="password" id="password" tabindex="1" class="form-control" placeholder="Password">
								  </div>
								  <div class="form-group">
										<input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
										<span id='message'></span>
								  </div>

								  <div class="form-group">
									  <div class="row">
										  <div class="col-sm-6 col-sm-offset-3">
											  <input type="submit" name="submit" id="submit" tabindex="4" class="form-control btn btn-login col-lg-8" value="Reset Password">
										  </div>
									  </div>
								  </div>
							  </form>
						  </div>
					  </div>
				  </div>
			  </div>
		  </div>
	  </div>
  </div>

</body>
</html>
